<% obj.each do |article| %>
<div class="row">
<div class="container">
<div class="card text-center">


<div class="card-header bg-danger">
<%= link_to (article.title), article_path(article), class: 'btn btn-success' %>
</div>
<div class="card-body">
<h5 class="card-title">Discription:</h5>
<p class="card-text">
<%= article.discription %></p>
</div>
<div class="article-meta-details">

<small>Created by: <%= article.user.username if article.user%>,

<%= time_ago_in_words(article.created_at) %> ago,

last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>

</div>

<div class="card-footer text-muted bg-primary">
<%= link_to 'Edit', edit_article_path(article),class: "btn btn-success" %>

<%= link_to 'Show', article_path(article), class: "btn btn-dark" %>
<%= link_to 'Delete', article_path(article), method: :delete, data:{confirm:"are you sure"}, class:"btn btn-danger"%>
</div>
</div>
<% end %>
</div>


</div>
</div>