<h1 align="center"> EDIT THE USERS</h1>

<%= render'share/error', obj: @user%>

<div class="row">
 <div class="container"> 
<%= form_for @user do |f| %>

<p>
<div class="form-row">
    <div class="col-md-8 mb-4 offset-2">
      <%=f.label :username%>
      <%=f.text_field :username, class:"form-control is-valid", placeholder:"enter username"%>
      <div class="valid-feedback">
        Looks good!
        </div>
        </div>
        </div>


</p>

<p>
<div class="form-row">
    <div class="col-md-8 mb-4 offset-2 row-10">
      <%=f.label :email%>
      <%=f.email_field :email, class:"form-control is-valid",placeholder:"Enter the email"%>
      <div class="valid-feedback">
        Looks good!
        </div>
        </div>
        </div>


</p>

<p>
<div class="form-row">
    <div class="col-md-8 mb-4 offset-2 row-10">
      <%=f.label :password%>
      <%=f.password_field :password, class:"form-control is-valid",placeholder:"Enter password"%>
      <div class="valid-feedback">
        Looks good!
        </div>
        </div>
        </div>


</p>




<p>
<div class="form-row">
    <div class="col-md-8 mb-4 offset-5">
      <%=f.submit class:"btn btn-success"%>
        </div>
       </div></p>





<%end%>
</div>
</div>
</div>


<p align="center"><%= link_to "BACK TO USERS", users_path, class:"btn btn-primary" %></p>