<h1 align="center"> ALL USERS</h1>

<p align="center"> <%= link_to "SIGNUP", signup_path, class:"btn btn-warning" %></p> 
<div class="container"> 
<div class="col">
  
      <%= will_paginate class: "pagination justify-content-center" %>
</div>
</div>
  
<% @users.each do |article| %>

<div class="row">
<div class="container">
<div class="card text-center">


<div class="card-header ">
<%= link_to has_gravatar(article), user_path(article) %>
<p> <%= link_to article.username, user_path(article)%></p>
Total Articles <P><%= article.articles.count %>
	<p>
		<% if signed_in? && (current_user == article  || current_user.admin?) %>
<%= link_to 'delete user', user_path(article), method: :delete, data: {confirm: "are you sure to delete this user aand his all articles "} %></p>
<% end %>
</div>


</div>
</div>
</div>
<% end %>