<h1 align="center"> Wel Come to <%= @user.username %> page</h1>
<div class="container">
<p align="center"><%= has_gravatar @user  %></p>

<div class="container">
<p align="center"> <%= @user.username %>'s Articles </p>
 

</div>
<%= render 'articles/article', obj: @user.articles %>
</div>
<p align="center">
<%= link_to "Back TO User page", users_path, class: 'btn btn-primary' %>
</p>
