<h1 align="center"> Wel Come to <%= @user.username %> page</h1>
<div class="container">
<p align="center"><%= has_gravatar @user, size: 150  %></p>

<div class="container">
<p align="center"> <%= @user.username %>'s Articles </p>
<p align="center">
<%= link_to "Back TO User page", users_path, class: 'btn btn-primary' %>
</p>
</div>
<%= render 'articles/article', obj: @user.articles %>
</div>
