 <h1 align="center"> Category: <%= @category.name.upcase  %></h1>

   <% if signed_in? %>
 <p align="center"> <%= link_to 'Edit this Category', edit_category_path(@category), class: 'btn btn-primary'%></p>
 <%end%>
<div class="container"> 
<div class="col ">
  
      <%= will_paginate @category_articles, class: "pagination justify-content-center" %>
</div>
</div>
   
   <div class="container"> 


<%= render 'articles/article', obj: @category_articles %>

  
 <div class="offset-5">
      <%= will_paginate @category_articles %> 

</div>
     
     	<div class=" col offset-5">
      <%= page_entries_info @category_articles %> 
     </div>
     
   </div>
   <p align="center">
<%= link_to "Back To Category", categories_path, class: 'btn btn-primary' %>
</p>